@model QuanLyCotWeb.Models.ViTri

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ViTri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhTrang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdviTri">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
