@model RutCot

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RutCot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoNguoiRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoNguoiRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSinhNguoiRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSinhNguoiRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMND)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTenCot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTenCot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LyDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LyDo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDRut" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
